In [16]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
import joblib
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,precision_score,f1_score,confusion_matrix,recall_score

data=pd.read_csv('student_train_logistic.csv')
data.head()

#convert the text column city college into numberic

data=pd.get_dummies(data,columns=["City","College"])
data.head(25)

,Student_ID,Class10_Marks,Class12_Marks,Attendance_%,Exam1_Marks,Exam2_Marks,Exam3_Marks,Exam4_Marks,Exam5_Marks,Average_Score,Placed,City_Bangalore,City_Delhi,City_Kolkata,City_Mumbai,College_Govt,College_IIT,College_NIT,College_Private
0,1,88,80,71,74,74,54,92,96,78.0,0,0,1,0,0,0,1,0,0
1,2,74,68,64,62,62,70,76,62,66.4,0,0,0,1,0,0,1,0,0
2,3,67,81,96,56,68,40,49,94,61.4,0,0,0,0,1,1,0,0,0
3,4,80,63,91,65,82,92,49,55,68.6,0,1,0,0,0,0,1,0,0
4,5,78,69,68,47,50,93,58,70,63.6,0,0,1,0,0,0,0,0,1
5,6,82,69,94,68,57,93,56,50,64.8,0,0,0,1,0,1,0,0,0
6,7,70,80,78,65,86,42,60,93,69.2,0,0,1,0,0,0,0,0,1
7,8,70,67,75,49,51,55,53,55,52.6,0,0,0,1,0,0,1,0,0
8,9,83,86,62,65,48,62,48,47,54.0,0,0,1,0,0,0,0,1,0
9,10,83,86,79,73,49,96,85,43,69.2,0,0,0,1,0,0,1,0,0
10,11,62,58,83,90,97,50,40,79,71.2,0,0,0,1,0,0,0,0,1
11,12,81,84,92,80,83,51,90,43,69.4,0,0,0,0,1,0,0,0,1
12,13,61,77,83,46,56,49,84,95,66.0,0,0,0,1,0,1,0,0,0
13,14,83,69,70,43,77,71,52,64,61.4,0,0,0,0,1,0,0,1,0
14,15,89,83,67,97,46,55,43,42,56.6,0,0,0,1,0,1,0,0,0
15,16,61,67,95,92,85,47,40,71,67.0,0,1,0,0,0,0,0,0,1
16,17,80,86,97,89,52,77,88,42,69.6,0,1,0,0,0,0,1,0,0
17,18,92,61,99,84,79,51,79,66,71.8,0,1,0,0,0,0,0,1,0
18,19,71,76,79,50,81,63,71,68,66.6,0,0,0,1,0,0,1,0,0
19,20,81,82,94,68,48,67,73,71,65.4,0,0,0,0,1,0,1,0,0
20,21,84,56,84,95,89,92,67,89,86.4,0,0,0,0,1,0,0,1,0
21,22,86,60,94,75,66,47,70,97,71.0,0,0,0,1,0,1,0,0,0
22,23,87,82,84,64,97,97,47,90,79.0,1,1,0,0,0,0,1,0,0
23,24,75,82,88,60,41,67,78,58,60.8,0,1,0,0,0,0,0,0,1
24,25,74,74,77,96,44,75,65,60,68.0,0,0,0,0,1,0,1,0,0

In [17]:
#define x,y
data=data.drop("Student_ID",axis=1)
X = data.drop("Placed",axis=1)
Y = data[['Placed']]
data.head()

#split the data into training and test
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

In [47]:
#train the model
model=LogisticRegression()
model.fit(X_train,Y_train)
joblib.dump(model, 'student_placement.pkl')

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/utils/validation.py:1406: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 100 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=100).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

['student_placement.pkl']

In [48]:
#predict on test data

y_predict=model.predict(X_test)
print(y_predict)
print(Y_test)
print("Accuracy: ",accuracy_score(Y_test,y_predict))
print("Pressicion",precision_score(Y_test,y_predict))
print("Recall",recall_score(Y_test,y_predict))
print("F1 ",f1_score(Y_test,y_predict))
print("Confusion ",confusion_matrix(Y_test,y_predict))

[0 0 0 0 0 1 1 0 0 0 1 0 0 0 0 0 0 0 0 0]
    Placed
83       0
53       1
70       0
45       0
44       0
39       1
22       1
80       0
10       0
0        0
18       0
30       0
73       0
33       0
90       1
4        0
76       0
77       1
12       0
31       0
Accuracy:  0.8
Pressicion 0.6666666666666666
Recall 0.4
F1  0.5
Confusion  [[14  1]
 [ 3  2]]

In [50]:
#predict on new data

encoded_values=pd.read_csv("student_new_logistic.csv")
encoded_values.head()
encoded_values=pd.get_dummies(encoded_values,columns=["City","College"])
encoded_values.head()
encoded_values=encoded_values.drop("Student_ID",axis=1)
encoded_values.head()
encoded_values["Predicted_placement"]=model.predict(encoded_values)
encoded_values.head()
encoded_values["Predicted_placement"]=encoded_values["Predicted_placement"].map({0:"Not Placed",1:"Placed"})
encoded_values.head(20)
encoded_values.to_csv("Predicted_student_placement.csv", index=False)
print(" Predictions saved to Predicted_student_placement.csv successfully!")
encoded_values.head()

 Predictions saved to Predicted_student_placement.csv successfully!

,Class10_Marks,Class12_Marks,Attendance_%,Exam1_Marks,Exam2_Marks,Exam3_Marks,Exam4_Marks,Exam5_Marks,Average_Score,City_Bangalore,City_Delhi,City_Kolkata,City_Mumbai,College_Govt,College_IIT,College_NIT,College_Private,Predicted_placement
0,64,57,62,51,71,52,49,46,53.8,0,1,0,0,0,0,0,1,Not Placed
1,67,61,81,60,55,74,56,85,66.0,0,1,0,0,0,0,0,1,Not Placed
2,68,57,73,87,61,80,40,44,62.4,0,0,0,1,0,0,1,0,Not Placed
3,87,73,99,64,84,72,95,42,71.4,0,0,0,1,0,0,0,1,Not Placed
4,94,84,68,81,59,70,52,90,70.4,0,0,1,0,1,0,0,0,Not Placed